*DS_Store
*.tar.*
*.tar
*.zip
*.rar
*.rpm
*.deb
*.bin
*.run
*.txt
*.swp

./work
work/log/supervisord.log
work/root/.bash_history
work/root/.bashrc
work/root/.inputrc
work/wangshun/.bashrc
work/wangshun/.inputrc
work/wangshun/.python_history
work/wangshun/.cache/fontconfig/cabbd14511b9e8a55e92af97fb3a0461-le64.cache-6
work/wangshun/.cache/fontconfig/CACHEDIR.TAG
work/wangshun/.cache/matplotlib/fontlist-v330.json
work/wangshun/.cache/pip/http/a/1/9/5/3/a19537d3cf37c122db841d6fe4cd322bc10d1a558bb00d146b85cb9a
work/wangshun/.cache/pip/selfcheck/03f78ce27a758afb2b9bc1e58cd125d72e448f6131a009edbffd96fb
work/wangshun/.config/code-server/config.yaml
work/wangshun/.config/vscode/config/machineid
work/wangshun/.config/vscode/config/logs/20200724T015920/remoteagent.log
work/wangshun/.config/vscode/config/logs/20200724T015920/extension-host/exthost.log
work/wangshun/.config/vscode/config/logs/20200724T015920/extension-host/output_logging_20200724T015922/1-Microsoft Authentication.log
work/wangshun/.config/vscode/config/logs/20200724T015920/extension-host/output_logging_20200724T015922/2-GitHub Authentication.log
work/wangshun/.config/vscode/config/logs/20200724T015920/extension-host/output_logging_20200724T015922/3-Git.log
work/wangshun/.config/vscode/config/User/machineid
work/wangshun/.config/vscode/config/User/state/-424cab51.json
work/wangshun/.config/vscode/config/User/state/global.json
work/wangshun/.config/vscode/config/User/workspaceStorage/-424cab51/meta.json
work/wangshun/.ipython/profile_default/history.sqlite
work/wangshun/.ipython/profile_default/startup/README
work/wangshun/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
work/wangshun/.local/share/code-server/coder.json
work/wangshun/.local/share/code-server/heartbeat
work/wangshun/.local/share/jupyter/nbsignatures.db
work/wangshun/.local/share/jupyter/notebook_secret
work/wangshun/.local/share/jupyter/runtime/nbserver-28275-open.html
work/wangshun/.local/share/jupyter/runtime/nbserver-28275.json
work/wangshun/.local/share/jupyter/runtime/notebook_cookie_secret
work/wangshun/.local/share/r-reticulate/miniconda.json
work/wangshun/.local/share/rstudio/rstudio-server.json
work/wangshun/.local/share/Trash/files/Untitled.ipynb
work/wangshun/.local/share/Trash/info/Untitled.ipynb.trashinfo
work/wangshun/.rstudio/addin_registry
work/wangshun/.rstudio/history_database
work/wangshun/.rstudio/persistent-state
work/wangshun/.rstudio/saved_source_markers
work/wangshun/.rstudio/client-state/console.temporary
work/wangshun/.rstudio/client-state/environment-grid.persistent
work/wangshun/.rstudio/client-state/environment-panel.temporary
work/wangshun/.rstudio/client-state/workbenchp.persistent
work/wangshun/.rstudio/monitored/lists/addins_mru
work/wangshun/.rstudio/monitored/lists/file_mru
work/wangshun/.rstudio/monitored/lists/help_history_links
work/wangshun/.rstudio/monitored/lists/plot_publish_mru
work/wangshun/.rstudio/monitored/lists/project_mru
work/wangshun/.rstudio/monitored/lists/user_dictionary
work/wangshun/.rstudio/notebooks/patch-chunk-names
work/wangshun/.rstudio/pcs/files-pane.pper
work/wangshun/.rstudio/pcs/source-pane.pper
work/wangshun/.rstudio/pcs/windowlayoutstate.pper
work/wangshun/.rstudio/pcs/workbench-pane.pper
work/wangshun/.rstudio/projects/none/console07/INDEX001
work/wangshun/.rstudio/projects_settings/next-session-project
work/wangshun/.rstudio/sessions/active/session-e37f40ce/rmd-outputs
work/wangshun/.rstudio/sessions/active/session-e37f40ce/session-persistent-state
work/wangshun/.rstudio/sessions/active/session-e37f40ce/graphics-r3/empty.png
work/wangshun/.rstudio/sessions/active/session-e37f40ce/graphics-r3/INDEX
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/executing
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/initial
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/last-used
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/project
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/r-version
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/r-version-home
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/r-version-label
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/running
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/save_prompt_required
work/wangshun/.rstudio/sessions/active/session-e37f40ce/properites/working-dir
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/console_actions
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/environment
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/environment_vars
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/history
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/libpaths
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/options
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/rversion
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/settings
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/search_path/package_paths
work/wangshun/.rstudio/sessions/active/session-e37f40ce/suspended-session-data/search_path/search_path_elements
work/wangshun/.rstudio/sources/s-e37f40ce/suspend_file
